/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  position: relative;
}

ul.nav, .jumbotron h1 {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 300px;
  height: 325px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.navbar li a{
  color: #ddd !important;
}

.navbar li a:hover {
  color: white !important;
  cursor: pointer;

}

.navbar-brand {
  color: #ddd !important;
}

.jumbotron {
  padding: 20px 0 !important;
  text-align: center;
  background-color: #222;
  color: white;
  margin-bottom: 0px !important;
}

.jumbotron h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.jumbotron p {
  margin-bottom: 30px;
  padding: 0 50px;
}

.homepage a {
  margin-top: 10px;
  color: white !important;
}

ul.nav {
  font-size: 13px;
}

.btn-lg {
  font-size: 24px;
}

.homepage {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.homepage h2, .homepage h3 {
  color: #e74c3c;
  font-family: 'Arvo', courier, serif;
  text-transform: uppercase;
}

.homepage h2 {
  font-size: 30px;
}

.homepage h3 {
  font-size: 26px;
}

.homepage p {
  font-weight: 300;
  font-size: 21px;
}

.homepage a {
  color: #e74c3c;
}

.homepage a:hover {
  color: #e74c3c;
  opacity: .8;
}

.homepage hr {
  border-top: 1px solid #e74c3c;
  width: 160px;
  margin-top: 50px;
}

.components-info, .get-started, .use-code {
  text-align: left;
}

.components-info h3 {
  color: #333;
}

.components-info p, .get-started p, .use-code p {
  color: #333;
  font-size: 1.2em;
}

.get-started {
  margin-top: 20px;
}

.components-info div {
  margin-top: 5%;
}

.hilight-code {
  font-size: 90%;
  color: #c7254e;
}

#info-section {
  background-color: #f5f5f5;
}

#scroll-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#scroll-top a {
  color: #333;
}

.template-code {
  font-size: 1.1em;
}

footer {
  background-color: #f74c3c;
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative;
}


/*Responsive Styling*/

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {

  .jumbotron h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }

}

@media (max-width: 991px) {

  .jumbotron h1 {
    font-size: 44px;
  }

  .jumbotron p {
    padding: 0 10px;
  }

  #info-section .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    width: 275px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

}

@media (max-width: 767px) {

  .jumbotron h1 {
    font-size: 24px;
  }

  .jumbotron p {
    font-size: 16px;
    padding: 0;
  }

  .btn-lg {
    font-size: 18px;
  }

  .homepage p {
    font-size: 18px;
  }

  .logo {
    width: 250px;
    height: 275px;
    margin-top: 10px;
    margin-bottom: 20px;
  }


}
